.content {
  margin: auto;
  text-align: center;
  width: 940px;
  font-family: Impact, Charcoal, sans-serif;
}

h1 {
  margin-left: 36px;
}

.links {
  list-style-type: none;
}

.links li {
  display: inline;
  margin-right: 5px;
  font-size: 18px;
}
