body {
  font-family: Impact, Charcoal, sans-serif;
}

.content {
  margin: auto;
  text-align: center;
  width: 940px;
}

h1 {
  margin-left: 36px;
}

.links {
  list-style-type: none;
}

.links li {
  display: inline;
  margin-right: 5px;
  font-size: 18px;
}

#authentication {
  float: right;
  text-align: right;
}

#authentication h2 {
  font-size: 16px;
}

#authentication img.avatar {
  width: 100px;
  height: 100px;
}
