body {
  font-family: Cabin, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 30px;
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: #4e2a8e;
}

a:hover {
  color: #222;
  border-color: #ccc;
}

.content {
  margin: 0 auto;
  max-width: 940px;
}

.logo {
  max-width: 200px;
}

.header {
  font-size: 40px;
  margin: 0;
}

.desc {
  margin: 50px 0;
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: inline;
  margin: 0 10px;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .header {
    font-size: 30px;
  }

  .links li {
    display: block;
    margin: 15px 0;
  }

  body {
    padding: 20px 15px;
  }
}
