<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stockholm Elixir</title>
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body>
    <div id="authentication">
      <%= if @current_user do %>
        <h2>Welcome, <%= @current_user["name"] %>!</h2>
        <img src="<%= @current_user["avatar_url"] %>" class="avatar"/>
      <% else %>
        <a class="btn btn-primary btn-lg"
           href="<%= auth_path Endpoint, :index %>">
          <i class="fa fa-github"></i>
          Sign in with GitHub
        </a>
      <% end %>
    </div>

    <div class="content">
      <%= @inner %>
    </div>
  </body>
</html>
