<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/images/stockholm_elixir.png" rel="shortcut icon" />

    <title>Stockholm Elixir</title>
    <link href="//fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/phoenix.css">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/phoenix.js"></script>
    <script src="/js/chat.js"></script>
  </head>

  <body>
    <div class="content">
      <%= @inner %>
    </div>
  </body>
</html>
