<h1>Stockholm Elixir</h1>

<ul class="links">
  <li><a href="http://www.meetup.com/stockholm-elixir">Meetup</a></li>
  <li><a href="https://twitter.com/stockholmelixir">Twitter</a></li>
  <li><a href="https://github.com/stockholm-elixir">GitHub</a></li>
</ul>

<div id="messages"></div>
@<input id="username" type="text">
:<input id="message-input" type="text">
